:root,
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
}
